.cover__subtitle {
    display: flex;
    color: white;
    margin: 0;
    z-index: 2;
    max-width: 360px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
